{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="padding: 20px;">Active Listings</h2>
    <br>
    {% for listing in active_listings %}
        <div class="container">
        <div class="row">
        <div class="col col-4">
            <a href="{% url 'listing' listing.id %}">
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
            </a>
        </div>
        <div class="col col-6" style="min-width: 500px; max-width: 600px;">
            <a href="{% url 'listing' listing.id %}"><strong>{{ listing.title }}</strong></a><br>
            <span>{{ listing.description }}</span><br><br>
            Starting Bid: ${{ listing.starting_bid|floatformat:2 }}<br>
            {% if listing.bidItem.last.amount %}
                Current Price: ${{ listing.bidItem.last.amount }}<br>
                {% else %}
                Current Price: No Bids <br>
             {% endif %}

            {% if listing.user.username != user.username%}
                Posted by: {{ listing.user }} <br>
                {% else %}
                Posted by: You <br>
            {% endif %}
            Created {{ listing.dt }}
        </div>
        </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}