{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <img style="max-height: 300px; max-width: 300px;" src="{{ listing.image_url }}" alt="{{ listing.title }}">
        </div>
        <div class="col-md-9">
            <strong>{{ listing.title }}</strong><br>
            Starting Bid: ${{ listing.starting_bid }}<br>
            {% if listing.current_bid >= listing.starting_bid %}
            Current Price: {{ listing.current_bid }} <br>
            {% else %}
            Current Price: No bids<br>
            {% endif %}
            Posted by: {{ listing.user }} <br>
            Created {{ listing.dt }} <br>
            {% if user.is_authenticated %}
            {% if not is_watching %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value = "{{ listing.id }}">
                <input class="btn btn-sm btn-warning" type="submit" name='create_watchlist_btn' value="Add to watchlist">
            </form>
             {% else %}
                <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value = "{{ listing.id }}">
                <input class="btn btn-sm btn-warning" type="submit" name='delete_watchlist_btn' value="Remove from watchlist">
            </form>
             {% endif %}
        {% endif %}
        </div>
        </div>
        <hr>
{% endblock %}