{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <div class="row justify-content-left">
        <div style="margin-right: 120px; margin-bottom: 20px;" class="col-md-3 col-sm-5 col-s-5 col-xs-5">
            <img style="max-height: 300px; max-width: 300px;" src="{{ listing.image_url }}" alt="{{ listing.title }}">
        </div>
        <div class="col-md-6 col-sm-10 col-xs-10">
            <strong>{{ listing.title }}</strong><br>
            Description: {{ listing.description }} <br>
            {% if user.username != listing.user.username %}
            Created on {{ listing.dt }} by {{ listing.user }}<br><br>
            {% else %}
            Created on {{ listing.dt }} by You<br><br>
            {% endif %}
            Starting Bid: ${{ listing.starting_bid }}<br>

            {% if current_price >= listing.starting_bid %}
            Current Price: {{ current_price }} <br>
            {% else %}
            Current Price: No bids<br><br>

            {% endif %}

        {% if user.is_authenticated %}
            {% if listing.active and user.username != listing.user.username %}
            <form action="" method="post">
                {% csrf_token %}
                {{ place_bid_form }}
                <input type="submit" name="place_bid" value="Submit Bid">
            </form>
            {% endif %}


                {% if watching == 0 %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value = "{{ listing.id }}">
                    <input class="btn btn-sm btn-warning" type="submit" name='create_watchlist_btn' value="Add to watchlist">
                </form>
                {% else %}
                    <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value = "{{ listing.id }}">
                    <input class="btn btn-sm btn-warning" type="submit" name='delete_watchlist_btn' value="Remove from watchlist">
                </form>
            {% endif %}

                {% if user.username == listing.user.username %}
                    <br>

                    {% if listing.active %}
                        <form action="" method="post">
                             {% csrf_token %}
                            <input class="btn btn-large btn-danger" type="submit" name="close_auction" value="Close">
                        </form>
                     {% else %}
                         <strong>- Listing Closed -</strong>
                     {% endif %}

                {% endif %}

            {% else %}
            <span>You need to <a href="{% url 'login' %}">Login</a> / <a href="{% url 'register' %}">Register</a> if you want to place a bid.</span>

        {% endif %}
        </div>
        </div>
        <hr>
{% endblock %}