{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <div class="row justify-content-left">
        <div style="margin-right: 120px; margin-bottom: 20px;" class="col-md-3 col-sm-5 col-s-5 col-xs-5">
            <img style="max-height: 300px; max-width: 300px;" src="{{ listing.image_url }}" alt="{{ listing.title }}">
        </div>
        <div class="col-md-6 col-sm-10 col-xs-10">
            <strong>{{ listing.title }}</strong><br>
            Starting Bid: ${{ listing.starting_bid }}<br>
            {% if current_price >= listing.starting_bid %}
            Current Price: {{ current_price }} <br>
            {% else %}
            Current Price: No bids<br>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{ place_bid_form }}
                <input type="submit" name="place_bid" value="Submit Bid">
            </form>
            Description: {{ listing.description }} <br>
            Created on {{ listing.dt }} by {{ listing.user }}<br><br>
            {% if user.is_authenticated %}
            {% if watching == 0 %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value = "{{ listing.id }}">
                <input class="btn btn-sm btn-warning" type="submit" name='create_watchlist_btn' value="Add to watchlist">
            </form>
            {% else %}
                <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value = "{{ listing.id }}">
                <input class="btn btn-sm btn-warning" type="submit" name='delete_watchlist_btn' value="Remove from watchlist">
            </form>
            {% endif %}
        {% endif %}
        </div>
        </div>
        <hr>
{% endblock %}