{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <br>
    {% if watchlist %}
        {% for item in watchlist %}
    <div class="row">
        <div style="margin-right: 120px; margin-bottom: 20px;" class="col-md-3 col-sm-5 col-s-5 col-xs-5">
            <img style="max-height: 300px; max-width: 300px;" src="{{ item.listing.image_url }}" alt="{{ item.listing.title }}">
        </div>
        <div class="col-md-6 col-sm-10 col-xs-10">
            <a href="{% url 'listing' item.listing.id %}"><strong>{{ item.listing.title }}</strong></a><br>
            {% if not item.listing.active %}
                <strong><span>- Listing Closed -</span></strong><br>
            {% endif  %}
            Starting Bid: ${{ item.listing.starting_bid|floatformat:2 }}<br>
            {% if item.listing.active %}
            {% if item.listing.bidItem.last.amount %}
                Current Price: ${{ item.listing.bidItem.last.amount }}<br>
                {% else %}
                Current Price: No Bids <br>
             {% endif %}
            {% else %}
                {% if item.listing.bidItem.last.amount %}
                Winning Price: ${{ item.listing.bidItem.last.amount }}<br>
                {% else %}
                Item did not sell <br>
             {% endif %}

            {% endif %}
            Posted by: {{ item.listing.user }} <br>
            Created {{ item.listing.dt }} <br>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value = "{{ item.listing.id }}">
                <input class="btn btn-sm btn-warning" type="submit" name='submit' value="Remove from watchlist">
            </form>
        </div>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
{% endblock %}